/* div{
   font-family: 'Nova Square', sans-serif;

} */
.sale {
  margin: 10px;
  padding: 35px;
}
.sales {
  margin: 1px;
  padding: 10px;
background-image: linear-gradient(to left,black,gray);
  color: aliceblue;
}